@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Poppins',sans-serif;
}

// Header
.navbar{
    padding: 2rem 3rem 2rem 3rem;
    .navbar-brand{
        text-transform: uppercase;
        font-size: 2rem;
        color: #3cb878;
        font-weight: bold;
    }

    #navbarNav{
        justify-content: space-between;
        .navbar-nav{
            flex: 1;
            padding-left: 15%;
            gap: 10%;
            .nav-item{
                .nav-link{
                    font-weight: 500;
                    &:hover{
                        color: #3cb878;
                    }
                }
            }
        }
        .nav{
            flex: 1;
            justify-content: flex-end;
            gap: 1.5rem;

            .item-shopping{
                position: relative;
                &::before{
                    content: '3';
                    position: absolute;
                    top: -40%;
                    left: 30%;
                    width: 20px;
                    height: 20px;
                    background-color: #3cb878;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 50%;
                    color: #fff;

                }
            }
        }

        .search{
            input{
                font-size: 1.5rem;
            }

            button{
                border: none;
            }
            .item-shopping{
                position: relative;
                padding: 0.375rem 0.75rem;
                &::before{
                    content: '3';
                    position: absolute;
                    top: -20%;
                    left: 40%;
                    width: 20px;
                    height: 20px;
                    background-color: #3cb878;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 50%;
                    color: #fff;

                }
            }
        }
    }
}

@media (max-width: 1070px) {
    .navbar{
        #navbarNav{
            .navbar-nav{
                padding-left: 4rem;
            }
        }
    }
}

@media (max-width: 992px) {
    .navbar{
        #navbarNav{
            .navbar-nav{
                padding-left: 0;
            }
            .nav{
                display: none;
            }
        }
    }
}

// Banner
.banner{
    margin-top: 7.5rem;
    position: relative;
    .banner--img{
        display: block;
        width: 100%;
        background-size: contain;
    }

    .banner--content{
        position: absolute;
        top:40%;
        left: 10%;
        h1{
            font-size: 5rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            &:nth-child(2){
                color: #3cb878;
            }
        }
    }
}

@media (max-width: 1200px) {
    .banner{
        .banner--content{
            h1{
                font-size: 4rem;
            }
        }
    }
}

@media (max-width: 992px) {
    .banner{
        .banner--content{
            h1{
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .banner{
        .banner--content{
            h1{
                font-size: 2.2rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .banner{
        .banner--content{
            h1{
                font-size: 1.5rem;
            }
        }
    }
}

// Best-Seller
.seller{
    margin: 10rem 0 0 0;
    padding: 0 3rem;
    .seller--introduce{
        padding: 10% 3rem 0 0;
        h3{
            font-weight: bold;
            font-size: 3rem;
            text-align: justify;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }

        h3 + p{
            color: #3cb878;
            font-style: italic;
        }
        p{
            text-align: left;
            font-size: 1.7rem;
        }
    }

    .seller--product{
        .seller--product__img{
            margin: 0 0 2rem 0;
            position: relative;
            img{
                display: block;
                width: 100%;
                height: 450px;
            }
            .img--like{
                position: absolute;
                top: 2%;
                right: 4%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                display: none;
                cursor: pointer;
                .img--like__item{
                    background-color: #3cb878;
                    width: 30px;
                    height: 30px;
                    img{
                        display: block;
                        margin:0.5rem auto;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        &:hover{
            .img--like{
                display: flex;
            }
        }

        .seller--product__name{
            font-weight: bold;
            font-size: 1.3rem;
        }

        .seller--product__price{
            color: #3cb878;
        }
    }
}

@media (max-width: 992px) {
    .seller{
        .seller--introduce{
            margin-bottom: 2rem;
            padding: 0;
            h3{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}

// Stactic Blocks
.stactic{
    margin: 8rem 0 0 0;
    flex-wrap: nowrap;
    gap: 0.2rem;
    .stactic--item{
        padding: 3rem 0;
        background-color: #f5f6f9;
        img{
            display: block;
            margin: 0 auto;
        }
        p{
            text-align: center;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 700;
            margin: 1rem 0 1rem 0;
        }
        span{
            text-align: center;
            display: block;
            font-size: 1.3rem;
            opacity: 0.5    ;
        }
    }
}

@media (max-width: 768px) {
    .stactic{
        flex-wrap: wrap;       
    }
}

//Categories
.categories{
    .categories--item{
        padding: 0;
        img{
            width: 100%;
        }
    }
}

// Featured Product
.featured{
    margin: 10rem 0 0 0;
    .featured--header{
        text-transform: uppercase;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }

    .featured--introduce{
        text-align: center;
        color: #3cb878;
        font-style: italic;
        margin: 0 0 5rem 0;
    }

    .featured--list{
        margin: 0;
        padding:0 3rem;
        .list--item{
            padding: 0;         
            img{
                display: block;
                width: 90%;
                margin:2rem 0 2rem 0;
            }
            .list--item__name{
                font-weight: bold;
                font-size: 1.5rem;
            }
            .list--item__price{
                color: #3cb878;
            }
        }
    }
}

// Service
.service{
    margin: 10rem 0 0 0;
    .service--subscribe{
        padding: 5rem 0 5rem 0;
        background-image: url(../imges/Subscribe/bg.jpg);
        background-repeat: no-repeat;
        color: #fff;
        .service--subscribe__header{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin: 0 0 3rem 0;
        }
        .service--subscribe__content{
            text-align: center;
            font-size: 1.5rem;
            margin: 0 0 3rem 0;
        }
        .service--subscribe__coupon{
            width: 80%;
            margin: 0rem 4rem 0 4rem ;
            justify-content: space-evenly;
            .input{

            }
            .btn{
                border-radius: 0;
                padding: 1rem 2rem;
                font-size: 1.2rem;
                color: #fff;
                text-transform: uppercase;
                background-color: #3cb878;

                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }

    .service--client{
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f5f6f9;
        .service--client__item{
            img{
                width: 127px;
                height: 90px;
            }
        }
    }
}

// Footer
.footer{
    background-color: #000;
    padding: 1rem 2rem;
    .footer--content{
        color: #fff;
        font-size: 1.5rem;
        opacity: 0.7;
        padding: 0;
        text-align: center;
    }
    .footer--icon{
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}